<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width= device-width", "initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Search Weather</title>
</head>

<body>

    <form action='/' method = 'post'>
        <p>{{ form.city_form.label }}</p>
        <p>{{ form.city_form(size=32) }}</p>
        <p>{{ form.submit_form }}</p>
    </form>

    {% if weather_data %}
    <div class = "weather-div">
        <h2>Weather Information </h2>
        <p><b>City</b> : {{ form.city_form.data }}</p>
        <p><b>Weather</b>: {{ weather_data.weather }}</p>
        <p><b>Temperature</b>: {{ weather_data.temperature }} Celsius</p>
        <p><b>Humidity</b>: {{ weather_data.humidity }} %</p>
    </div>
    {% endif %}

    

</body>

</html>
