<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width= device-width", "initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Search Weather</title>
</head>

<body>

    <form action='/' method = 'post'>
        <p>{{ form.city_form.label }}</p>
        <p>{{ form.city_form(size=32, id="cityInput") }}</p>
        <ul id="suggestions"></ul>
        <p>{{ form.submit_form }}</p>
    </form>

    <script>
        $(document).ready(function () {
            $('#cityInput').on('input', function () {
                var searchTerm = $(this).val();

                $.ajax({
                    url: '/suggestion',
                    data: { term: searchTerm },
                    success: function (data) {
                        var suggestionsList = $('#suggestions');
                        suggestionsList.empty();

                    for (var i = 0; i < Math.min(data.length, 10); i++) {
                        var listItem = $('<li>').text(data[i]);
                        suggestionsList.append(listItem);

                            listItem.click(function () {
                                $('#cityInput').val($(this).text());
                                suggestionsList.empty();
                            });
                        }
                    }
                });
            });
        });

    </script>

    {% if weather_data %}
    <div class = "weather-div">
        <h2>Weather Information </h2>
        <p><b>Place</b>: {{ form.city_form.data }} ,{{ weather_data.state}}, {{ weather_data.country}}</p>
        <p><b>Weather</b>: {{ weather_data.weather }}</p>
        <p><b>Temperature</b>: {{ weather_data.temperature }} Celsius</p>
        <p><b>Humidity</b>: {{ weather_data.humidity }} %</p>
    </div>
    {% endif %}



</body>

</html>
