<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width= device-width", "initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Search Weather</title>
</head>

<body>

    <form action='/' method = 'post'>
        <p>{{ form.city_form.label }}</p>
        <p placeholder="Enter City">{{ form.city_form(size=32, id="cityInput") }}</p>
        <ul id="suggestions"></ul>
        <!-- <p>{{ form.submit_form }}</p> -->
    </form>
    <div class="notification" id="cityNotFoundNotification"></div>


    <script>
        $(document).ready(function () {
            $('#cityInput').on('input', function () {
                var searchTerm = $(this).val();

                $.ajax({
                    url: '/suggestion',
                    data: { term: searchTerm },
                    success: function (data) {
                        var suggestionsList = $('#suggestions');
                        suggestionsList.empty();

                        for (var i = 0; i < Math.min(data.length, 10); i++) {
                            var listItem = $('<li>').text(data[i]);
                            suggestionsList.append(listItem);

                            listItem.click(function () {
                                $('#cityInput').val($(this).text());
                                $('form').submit();
                            });
                        }
                    }
                });
            });

            $('#cityInput').on('keypress', function(event) {
                if (event.keyCode === 13) {
                    var topSuggestion = $('#suggestions li:first-child').text();
                    $('#cityInput').val(topSuggestion);
                    $('form').submit();
                }
            });
        });

        function validateInput() {
            var input = $('#cityInput').val();
            var suggestions = $('[id^="suggestions"] li').map(function() {
                return $(this).text();
            }).get();
            if (!suggestions.includes(input)) {
                $('#cityNotFoundNotification').text('City not found.').fadeIn().delay(2000).fadeOut();
                return false;
            }
            return true;
        }

        $('form').submit(function() {
            if (!validateInput()) {
                return false;
            }
        });
    </script>

    {% if weather_data %}
    <div class = "weather-div">
        <p><b>{{ form.city_form.data }}, {{ weather_data.state}}, {{ weather_data.country}}</b></p>
        <img = src="https://openweathermap.org/img/wn/{{weather_data.icon}}@2x.png">
        <p><b>Weather</b>: {{ weather_data.weather }}</p>
        <p><b>Humidity</b>: {{ weather_data.humidity }}%</p>
        <p><b>Wind Speed</b>: {{ weather_data.windspeed}}m/s</p>
        <p><b>Temperature</b>: {{ weather_data.temperature }}°C</p>
        <p><b>Feels Like</b>: {{ weather_data.feelslike}}°C</p>
        <p><b>Sunrise</b>: {{ weather_data.sunrise }}AM</p>
        <p><b>Sunset</b>: {{ weather_data.sunset }}PM</p>
    </div>
    {% endif %}

    {% block content%}
    {% endblock %}



</body>

</html>
